@charset "utf-8";
/* CSS Document */


body{
	/*
	background-image: url('img/seamless-pattern.jpg');
	background-repeat: repeat;
	*/
	background-color: #606060 !important;
}

.blk span {color:black !important}